.sizeA{
    background-color: aliceblue;
    font-size: 48px;
    color:rgb(9, 161, 221);
    top: 7px;
    left: 10px;
    position: relative;
}
.sizeC{
    
    background-color: aliceblue;
    font-size: 48px;
    color:royalblue;
    top: 7px;
    left: 10px;
    position: relative;
}
.sizeB{
    position: absolute;
    padding:  3px;
    max-width: auto;
    font-size: 20px;
}
#first{
    color: rgb(255, 0, 0);
    line-height: 15px;
    text-decoration: line-through;
}
html{
    background-color: rgb(238, 150, 19);
}
.img1{
    padding: 0 ;
    border: 2px solid black;
    box-sizing: border-box;
    margin: 0 ;
    width: 100%;
    height: 100%;
}
.containerA{
    position: fixed;
    background-color: aliceblue;
    width: 100%;
    top: -13px;
    left: 0;
}
.containerB{
    position: relative;
    text-align: center;
}