.sizeA{
    background-color: aliceblue;
    font-size: 48px;
    color:rgb(9, 161, 221);
}
.sizeB{
    padding:    3px;
    max-width: auto;
    font-size: 20px;
}
.sizeC{
    background-color: aliceblue;
    font-size: 48px;
    color:royalblue;
}
#first{
    color: rgb(255, 0, 0);
    line-height: 15px;
    text-decoration: line-through;
}
html{
    background-color: rgb(238, 150, 19);
}
.img1{
    padding: 0 ;
    border: 2px solid black;
    margin: 10px ;
    width: 95%;
    height: 50%;
}
