@font-face {
  font-family: 'iansui';
  src: url("Iansui-Regular.ttf");
}

html{
    background:fixed;
    background-color:antiquewhite;
    background-size:cover;
    background-repeat: no-repeat;
    font-family: Helvetica, iansui;
}

.web_bar{
    position:absolute;
    background-color: aliceblue;
    width: 100%;
    top: -13px;
    left: 0;
}
.sizetitle1{
    font-size: 48px;
    color:royalblue;
    top: 7px;
    left: 10px;
    position: relative;
}
.sizetitle2{
    font-size: 48px;
    color:rgb(9, 161, 221);
    top: 7px;
    left: 10px;
    position: relative;
    
}
.profile_photo{
    position: absolute;
    top: 100px;
    border-left-width: 0 ;
    width: 600px;
    height: 210px;
    background-color: royalblue;
    border-radius: 2rem;
}
.profile_photo img{
    position: absolute;
    width: 75px;
    height: 75px;
    padding: 10px;
    border-radius: 2rem;
}
.hetext{
    opacity: 0;
    color: gold;
    font-size: xx-large;
}
#button1{
    position : absolute;
    padding-left: 20px ;
    margin: 0 ;
    padding-top: 320px ;
}
#hehe{
    position: absolute;
    margin: 0 ;  
    font-size: 45px;
}